service: portfolio-contact-handler

frameworkVersion: '4'

plugins:
  - serverless-offline

provider:
  name: aws
  runtime: nodejs20.x
  region: eu-central-1
  environment:
    SLACK_WEBHOOK_URL: 'https://hooks.slack.com/services/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'
    IS_LOCAL: 'true'

functions:
  contactHandler:
    handler: serverless-local/handler.handler
    events:
      - http:
          path: contact
          method: post
          cors: true

custom:
  serverless-offline:
    httpPort: 3001
    lambdaPort: 3002