service: portfolio-contact-handler

frameworkVersion: '4'

plugins:
  - serverless-offline
  - serverless-dotenv-plugin

useDotenv: true

provider:
  name: aws
  runtime: nodejs20.x
  region: eu-central-1
  environment:
    IS_LOCAL: 'true'

functions:
  contactHandler:
    handler: serverless-local/handler.handler
    events:
      - http:
          path: contact
          method: post
          cors: true

custom:
  serverless-offline:
    httpPort: 3001
    lambdaPort: 3002