name: Secret scan

on:
  push:
    branches:
      - "**"
  pull_request:

jobs:
  gitleaks:
    name: Run gitleaks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Run gitleaks scan
        uses: zricethezav/gitleaks-action@v1
        with:
          args: --redact --verbose
